body {
    font-family:  "Public Sans", sans-serif;
}

#Hero-Section {
    background-image: url(../img/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.container-edu {
    display: flex;
    justify-content: space-evenly;
}

.subtitle {
    color: #0dcaf0;
}